footer {
  max-width: 80rem;
  width: 100%;
  margin-inline: auto;
  padding: 4rem 2rem 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  & > div {
    display: flex;
    align-items: center;
    gap: .75rem;

    font: bold 1.25rem/1.3 "Syne", sans-serif;
    color: #000000;

    & img[src*="logo"] {
      width: 2rem;
      transition: transform 350ms, scale 500ms;
    }

    & img[src*="logo"]:hover {
      transform: rotate(90deg);
      scale: 1.1;
    }
  }

  & nav {
    display: flex;
    align-items: center;
    gap: 2rem;

    font-size: var(--txt-md);
    line-height: 1.5;
    color: #000000;

    & a {
      width: fit-content;
      position: relative;
    }

    & a:hover::after {
      transform: scaleX(1);
      opacity: 1;
    }

    & a::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: var(--snitap-sky-mid);

      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0;

      transition: transform 200ms linear;
      transform: scaleX(0);
    }
  }

  & .social-links {
    display: flex;
    align-items: center;
    justify-content: center;

    & a {
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 50%;

      position: relative;

      &:hover::before {
        scale: 1;
      }

      &::before {
        content: "";

        width: inherit;
        height: inherit;
        border-radius: inherit;

        background: var(--snitap-sun);
        position: absolute;

        z-index: -1;
        scale: 0;
        transition: scale 200ms;
      }

      & img {
        width: 1.5rem;
        height: auto;
      }
    }
  }
}

@media (width <= 22.5rem) {
  footer {
    max-width: 22.5rem;
    width: 100%;
    margin-inline: auto;
    padding: 3rem 1.5rem 1.5rem;

    display: grid;
    gap: 3rem;

    & nav {
      display: grid;
      gap: 1.5rem;
    }
  }
}